section {
	img {
		border: 0 !important;
		background-color: transparent !important;
		box-shadow: none !important;
	}

	pre {
		box-shadow: none !important;
		width: 100% !important;

		.hljs {
			box-shadow: 0px 0px 6px rgba(0,0,0,0.3);
		}
	}

	.row {
		display: flex;
		align-items: center;
	}

	&.content-slide {
		text-align: left;
		top: 0 !important;
	}

	&.image-slide {
		padding: 0 !important;

		img {
			margin: 0 !important;
		}
	}

	&.title-slide {
		text-align: left;
		top: 0 !important;

		img {
			background: none !important;
			box-shadow: none !important;
		}
	}

	.section-title {
		color: $white;
		font-size: 60px;
		font-weight: bold;
		text-transform: uppercase;
	}

	.section-subtitle {
		color: $primary;
		font-size: 60px;
		font-weight: bold;
		text-transform: uppercase;
	}

	.page-title {
		color: $white;
		font-size: 60px;
		margin-bottom: 20px;
		// text-transform: capitalize;
	}
}

.slide-background {
	&.present {
		background-size: 100% 100%;
	}
}

.reveal {
	.slides {
		img {
			background: none;
		}
	}
}

#closing-image {
	cursor: pointer;
	display: block;
	margin-bottom: 40px;

	img {
		border-radius: 15px;
		margin: 0;
		width: 500px;
	}
}

#banana {
	bottom: -100px;
	left: 100%;
	position: relative;
	width: 8px;
}
